<html>
    <head>


    </head>
    <body>

        <h1>
            TODO - APP
        </h1>

        <!--   Form   -->
        <form action="/create-task" method="POST">
            <input type="text" name="task" placeholder="Description....." required>
            <input type="date" name="due-date">
            <input type="submit" >

        </form>




    </body>
</html>