<html>
    <head>
        


    </head>
    <body>

        <h1>
            TODO - APP
        </h1>
        <ul>
            <% for(let val of listOfTask ){ %>
                <li>
                    <%= val.description %>
                    <%= val.dueDate %>
                </li>
                
            <% } %>

        </ul>

        <!--   Form   -->
        <form action="/create-task" method="POST">
            <input type="text" name="task" placeholder="Description....." required>
            <input type="date" name="dDate">
            <input type="submit" >

        </form>




    </body>
</html>